*.pyc
*~
__pycache__
.vscode             # Daten der Entwiclungsumgebung


## bei Änderungen an dieser DAtei
## remove all files from git cache
# git rm -rf --cached .
# git add .
# git commit -m ".gitignore geändert"

# die Kinospezifischen Sachen
static/lokal/*  
!static/lokal/favicon-default.ico
!static/lokal/logo-default.png


# das macht collectstatic
static/django_extensions/*
static/admin/*

# maintaince oder nicht? datei wird beim installieren Eingerichtet
mysite/maintenance_mode_state.txt
general.log

#
# Alles ab hier gehört unbedingt ins Backup
#

#
# Die Konfigurationsdaten
#
mysite/newsletter_keys.py  
mysite/privat_settings.py 
mysite/produktiver_server.txt
filme/migrations    


#
# die eigentlichen Daten
#
db.sqlite3          
media/filme/plakate/
media/CACHE/images/filme/*
