{% extends 'filme/base.html' %}
{% block content %}
    <!-- Content -->
<div class="content col-12  col-lg-12 border-1">
    <h2>E-Mail zum Passwort zurücksetzen abgesendet</h2>         
             

<p>Wir haben eine E-Mail zum Zurücksetzen des Passwortes an die angegebene E-Mail-Adresse gesendet, sofern ein entsprechendes Konto existiert. Sie sollte in Kürze ankommen.</p>

<p>Falls die E-Mail nicht angekommen sein sollte, bitte die E-Mail-Adresse auf Richtigkeit und gegebenenfalls den Spam-Ordner überprüfen.</p>


        
        <br class="clear">
    </div>
    <!-- END Content -->
{% endblock %}