{% extends 'filme/base.html' %}
{% block content %}
<div class="content col-12  col-lg-6 border-1">
    <!-- Content -->
    <h2>Passwort ändern</h2>
    <form method="post">
        {% csrf_token %}  
        <p>Bitte geben Sie aus Sicherheitsgründen erst Ihr altes Passwort und darunter dann zweimal (um sicherzustellen, dass Sie es korrekt eingegeben haben) das neue Passwort ein.</p>
        <fieldset class="module aligned">
            <table>
                <tr>
                    <td><label for="id_old_password">Altes Passwort:</label></td>
                    <td><input type="password" name="old_password" id="id_old_password" required autofocus></td>
                </tr>
                 <tr>
                    <td><label for="id_new_password1">Neues Passwort:</label></td>
                    <td><input type="password" name="new_password1" id="id_new_password1" required></td>
                </tr>
                <tr>
                    <td><label for="id_new_password2">Neues Passwort bestätigen:</label></td>
                    <td><input type="password" name="new_password2" id="id_new_password2" required></td>
                </tr>   
                <tr>
                    <td></td>
                    <td><input type="submit" value="Mein Passwort ändern" class="default"></td>
                </tr>             
            </table>   
        </fieldset>
    </form>
</div>
<br class="clear">
    <!-- END Content -->
{% endblock %}

