{% extends 'filme/base.html' %}
{% block content %}
<div class="content col-12  col-lg-6 border-1">
    <h2>Passwort zurücksetzen</h2>       
<p>Passwort vergessen?</p><p> Einfach die E-Mail-Adresse unten eingeben und den Anweisungen zum Zurücksetzen des Passworts in der E-Mail folgen.</p>
    <form method="post">
        {% csrf_token %} 
        <fieldset class="module aligned">
            <table>
                <tr>
                    <td><label for="id_email">E-Mail-Adresse:</label></td>
                </tr>
                <tr>
                    <td><input type="email" name="email" maxlength="254" required id="id_email"></td>
                </tr>
            <tr>
                    <td>        <input type="submit" value="Mein Passwort zurücksetzen"></td>
                </tr>
            </table>
        </fieldset>
    </form>
    <br class="clear">
</div>
    <!-- END Content -->
{% endblock %}