{% extends 'filme/base.html' %}
{% block extra_head %}
    <meta name="description" content="Vorverkauf für besondere Veranstaltungen.">
    <title>Kino 35 - Vorverkauf</title>
    <meta name="robots" content="NoFollow NoArchive"> 
    
{% endblock %}
{% block content %}
    <div class=" col-12"  height="100%">
        {% if frog_src %}
        <script src="https://embed.eventfrog.de/js/relaunch/embed/embed.js"></script>
        <iframe width="100%" height="100%" style="border: none;" src="https://embed.eventfrog.de/de/events.html?key=2d77b4f1-ca2a-44fb-8504-78a7f8e0ef3b&color=60BF00&showSearch=true&excludeOrgs=false&orgId=2833918&orgId=2943473"></iframe>
        {% else %}
            <h4>Bisher kein Vorverkauf vorgesehen</h4>
            <!-- Packe den passenden "iframe" von eventfrog  nach "filme/vorverkauf.html" und setze die Variable in private_settings.py auf True -->
        {% endif %}

    </div>
{% endblock %}  



      